<!DOCTYPE html>
<html>

<head>
	<title>
		Update Artist
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Modifica i dati di un artista</h1>
	<form th:action="@{'/admin/artistUpdated/'+${artist.id}}" method="POST" th:object="${artist}" enctype="multipart/form-data">
		<div>
			<span th:text="${messaggioErrore}">Errore</span>
		</div>
		
		<div>
			<label>Nome:</label> <span><input type="text" th:field="${artist.name}" /></span>
		</div>

		<div>
			<label>Cognome:</label> <span><input type="text" th:field="${artist.surname}" /></span>
		</div>

		<div>
			<label>Data di nascita:</label> <span><input type="date" th:field="${artist.dateOfBirth}" /></span>
		</div>
		
		<div>
			<label>Data di morte:</label> <span><input type="date" th:field="${artist.dateOfDeath}" /></span>
		</div>

		<div>
			<label>Carica fotografia:</label> <span><input type="file" name="file"  accept="image/png, image/jpeg"/></span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>