    #titolo {
		margin: 2%;
	}
    
    .form-container {
      max-width: 400px;
      margin: 0 auto;
      background-color: aliceblue;
      padding: 20px;
      box-shadow: 0px 2px 10px rgb(60, 60, 60, 0.1);
      border-radius: 5px;
      border-style: solid;
      border-color: rgb(204, 204, 204);
    }
    
    .form-group {
      margin-bottom: 20px;
      position: relative;
    }
    
    .form-group label {
      font-weight: bold;
      position: absolute;
      pointer-events: none;
      left: 10px;
      top: 10px;
      width: auto;
      opacity: 0.6;
      transition: transform 0.3s, font-size 0.3s;
      background-color: #ffffff;
      padding: 0 5px;
      color: #6c757d;
    }
    
    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #cccccc;
      border-radius: 4px;
      transition: border-color 0.2s;
    }
    
    .form-group input:focus,
    .form-group textarea:focus {
      outline: none;
      border-color: #6c757d;
    }
    
    .form-group input:not(:placeholder-shown) + label,
    .form-group textarea:not(:placeholder-shown) + label {
      transform: translateY(-20px);
      font-size: 12px;
      opacity: 1;
    }
    
    .form-group button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      border: none;
      color: #ffffff;
      border-radius: 4px;
      transition: background-color 0.2s;
    }
    
    .form-group button:hover {
      background-color: #0056b3;
    }
    
    .registration button {
      width: 100%;
      padding: 10px;
      background-color: rgb(163, 163, 163);
      border: none;
      color: #ffffff;
      border-radius: 4px;
      transition: background-color 0.2s;
    }
    
    .registration button:hover {
      background-color: rgb(128, 128, 128);
    }