section {
	display: flex;
	align-items: flex-start;
}

.immagine {
	order: 0;
	margin-left: 10%;
	width: 30%;
}

@media screen and (max-width: 600px) {
	.immagine {
		margin-left: 0;
	}
}

.datiArtista {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
